.to-do-list-item {
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.to-do-list-item:hover {
    cursor: pointer;
}

.to-do-list-item--selected {
    background: lightblue;
}

.to-do-list-item__controls {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
