:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.task-list-wrapper {
    display: flex;
    height: 100%;
    overflow-y: auto;
}

.task-list-wrapper__menu {
    overflow-y: auto;
    flex-basis: 400px;
}

.task-filter {
    width: 100%;
}

.task-list {
    display: flex;
}

.task-list__list {
    margin: 0;
    width: 100%;

    & > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.app-to-do-create-item-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
