.task-list {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    max-height: 400px;
    overflow-y: auto;
}

.task-list__list {
    flex: 2 0;
    overflow-y: auto;
}

.task-list__description {
    flex: 1 0;
}

.loading-spinner {
    top: 2rem;
    margin: auto;
}

.add-new-todo-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.add-new-todo-form__formfield {
    width: 100%;
}
