.task-list-section {
    padding-bottom: 3rem;
}

.task-list__loading-spinner {
    top: 2rem;
    margin: auto;
}

.add-new-todo-form {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.add-new-todo-form__formfield {
    width: 100%;
}
