@if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
} @else {
    <div class="board">
        @for (status of statusOptions; track status) {
            <div class="column">
                <h2 class="column__header">{{ status }}</h2>
                <ul class="task-list">
                    @for (toDoListItem of getTasksByStatusOption(status); track toDoListItem) {
                        <app-to-do-list-item
                            [item]="toDoListItem"
                            [isChecked]="getIsItemChecked(toDoListItem.id)"
                            (deleteItemEvent)="deleteItem($event)"
                            (toggleItemStatusEvent)="toggleItemStatus($event)"
                        ></app-to-do-list-item>
                    }
                </ul>
            </div>
        }
    </div>
}