/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

main {
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

.tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 3px 8px;
    background: black;
    border-radius: 4px;
    z-index: 1000;
}
