:host {
    width: fit-content;
    height: fit-content;

    .button,
    .button.button-mdc {
        &[disabled] {
            opacity: 0.5;
        }
    }
}

:host.button__positive {
    .button,
    .button.button-mdc {
        background-color: green;
    }
}

:host.button__negative {
    .button,
    .button.button-mdc {
        background-color: red;
    }
}
